#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    aliases {
        led0 = &my_custom_led;
    };

    leds {
        compatible = "gpio-leds";

        my_custom_led: led_2 {
            /* Map to GP2 on the RP2040 (gpio0 is the main GPIO controller) */
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Custom LED on GP2";
        };
    };

    gpio_keys {
		compatible = "gpio-keys";

		user_btn: button_0 {
			label = "SW_0";
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

    pwm_outputs {
		compatible = "pwm-leds";

        pwm_dev: pwm_dev {
			pwms = <&pwm 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            pwms = <&pwm 5 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};

/* All GPIO pins on the RP2040 (GP0 to GP29) have PWM output capability,
 * controlled by 8 hardware slices (0 to 7), divided into A (even pins) and
 * B (odd pins) outputs. */
&pinctrl {
	pwm_slice_2_default: pwm_slice_2_default {
		group1 {
			pinmux = <PWM_2A_P4>, <PWM_2B_P5>;
		};
	};
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm_slice_2_default>;
	pinctrl-names = "default";
};
